// Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// To use a font file (.woff) uncomment following lines

@font-face {
  font-family: "SF Pro Display";
  // src: font-url("/app/assets/SF-Pro-Display-Regular/sf-pro-display_regular.woff2");
  src: font-url("/app/assets/fonts/sf-pro-display_regular.woff2");
}
// $my-font: "Font Name";

// // Define fonts for body and headers
 $headers-font:  "Helvetica", "sans-serif";
 $body-font:  "Helvetica", "Work Sans", "sans-serif";
 $headers-font: "Nunito", "Helvetica", "sans-serif";
 