// Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "SF Pro Display", "Helvetica", "Work Sans", "sans-serif";
$headers-font: "SF Pro Display", "Helvetica", "sans-serif";
// $headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "SF Pro Display";
  src: font-url("/app/assets/fonts/SF-Pro-Display-Regular.otf");
}
// $my-font: "Font Name";
