.confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  flex-direction: column;
  border-radius: 5px;
}



.confirm-button {
  padding: 25px;
    a {
      border: 2px solid;
      border-color: #007AFF;
      border-radius: 3px;
      background: #007AFF;
      color: white;
      padding: 10px;
      margin: 10px;
  }
}
