
// css for containers
.dashboard-container {
  display: flex;
  width: 390px;
  padding: 0px 16px;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
  gap: 14px;
}

.dashboard-edit-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.dashboard-subcontainer-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  align-self: stretch;
}

.dashboard-subcontainer-venues {
  display: flex;
  padding: 16px 0px 12px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-top: 0.5px solid #999;
  border-bottom: 0.5px solid #999;
}

.dashboard-subcontainer-reviews {
  display: flex;
  padding: 16px 0px 12px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-top: 0.5px solid #999;
  border-bottom: 0.5px solid #999;
}

// css for elements

.dashboard-img-profile {
  object-fit: contain;
  height: 188px;
  width: 188px;
  border-radius: 50%;
}
