// Specific CSS for your home-page
.map-card {
  display: flex;
  // margin: 10px;
  overflow: hidden;
  border-radius: 8px; /* Optional: add border radius for rounded corners */
}

.image-container {
  flex: 1;
}

.info-card {
  flex: 2;
  padding: 10px;
}

.info-container {
  width: 70%;
}

.venue-image {
  width: 30%;
}

.venue-image img{
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 5px;
}

h4 {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}
