// Specific CSS for your home-page
body {
  font-family: "SF Pro Display";
  overflow-x: hidden;
}

.map-card {
  display: flex;
  overflow: hidden;
  border-radius: 8px;
}

.image-container {
  flex: 1;
}

.info-card {
  flex: 2;
  padding: 8px;
}

.info-container {
  width: 70%;
  display: flex;
  align-items: center;
  margin-left: 6px;
}

.venue-image {
  width: 100px;
  height: auto;
  background-position: center;
  background-size: cover;
  border-radius: 7px;
}

.venue-image img{
  // border-radius: 7px;
  // width: 113px;
  // height: 113px;
  display: block;
  object-fit: cover;
}

h1 {
  margin-top: 1rem;
  margin-bottom: .75rem;
  color: var(--Black, #000);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: SF Pro Display;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 121.429% */
  letter-spacing: -0.4px;
}
// added this or a bit more breathing space. -FS

h4 {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.favorite-heart {
  // width: 11px;
  // height: 5px;
  // position: relative;
  // font-size: 25px;
}
// To me it was better to have the styling for the favorite-heart in the the index.scss file.
