// Import page-specific CSS files here.
@import "home";

.venue-card {
  font-family: "SF Pro Display";
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 7px;
  background: var(--White, #FFF);
  box-shadow: 0px 1px 4px 0px rgba(153, 153, 153, 0.25);
  position: relative;
  text-decoration: none !important;
}

.favorite-heart {
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 1;
  width: 11px;
  height: 5px;
  font-size: 25px;
}

h6, .h6 {
  color: var(--Black, #000);
  font-family: "SF Pro Display";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.info {
  div{
    display: flex;
    align-items: center;
  }
}

.image {
  img {
    vertical-align: middle;
    width: 100%;
    border-radius: 7px;
    height: 160px;
    object-fit: cover;
  }
}

p {
  font-size: 12px;

}

.info{
  color: #48484A;
  .seat-available {
    font-weight: 600;
  }
  .card-wifi-speed, .card-distance {
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
  }
  .card-overview-text {
    color: var(--Black, #000);
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
  }
}
