.success-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 40vh;
  // margin: 10px;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 10px;
  background-color: white;
  width: calc(100vw - 16px);

  h1 {
    margin-bottom: 25px;
  }
}

.icon-style {
  border: 1px solid #4CD964;
  border-radius: 50%;
  width: 99px;
  height: 99px;
  background-color: #4CD964;
  position: absolute;
  top: -50px;
  z-index: 100;

  i {
    padding: 14px;
    color: white;
    font-size: 70px;
  }
}

.blurry-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(7px);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.success-button {
  padding: 25px;
  a {
    border-radius: 12px;
    box-shadow: 0px 1px 4px 0px rgba(153, 153, 153, 0.25);
    background: #4CD964;
    color: white;
    padding: 12px;
    margin: 2px;
    display: block;
    width: 85vw;
  }
}
