<div class="booking-container">
  <img class="img-properties-form" src="<%= @booking.venue.image_urls.first %>" alt="Venue-picture">
  <div class="title-bf">
    <h2>Reservation status </h1>
    <h1> <%= "backend logic to be finished" %> </h1>
  </div>

  <div class="second-text-bf">
    <h3><%= @booking.venue.name %></h3>
    <p>Please choose the desired reservation spot below</p>
  </div>

  <div class="container-bf">
  </div>
</div>
