
<div class="search-form">
  <div class="form-inputs-sb">
    <%= form_with url: venues_path, method: :get, class: "simple-form-sb" do |form| %>
      <%= text_field_tag :query,
          params[:query],
          class: "custom-input-class-sb",
          placeholder: "Search by name & address..."
      %>
    <% end %>
  </div>
</div>
