<div class="dashboard-container">
  <div class="dashboard-subcontainer-profile">
    <%# hardcoded bernardo/franz pic %>
    <img class="dashboard-img-profile" src="https://media.licdn.com/dms/image/D4D03AQGSzPOPlJ6ftg/profile-displayphoto-shrink_400_400/0/1699563716584?e=1707350400&v=beta&t=1w2uQ-QobWayZzyf0zaHjrDe7F1Y3iBkivCzUfDMnzg" alt="user-picture">
    <h1 class="dashboard-user-name"> Bernardo Lisi </h1>
  </div>


  <div class="dashboard-subcontainer-venues">



  </div>

  <div class="dashboard-subcontainer-reviews">



  </div>


</div>
