<div class="card-camera", style="height: 100vh">

  <div data-controller="camera">
    <video class="card-video" data-camera-target="reader"></video>
    <div data-camera-target="result" class="card-camera"></div>
  </div>
</div>
