<div class="confirm">
  <% if @venue.present? %>
      <img src="https://i.ibb.co/vVh0R2W/ms-icon-310x310.png" style="width: 150px; height: 150px; border-radius: 100%;" alt="DropWorks Logo">
      <h3>Do you want to check-in to</h3>
      <h1><%= @venue.name %>?</h1>
      <br>
      <%= @venue.address %>
      <br>
      <div class="button-container">
        <%= link_to success_venue_path(@venue), class: "btn btn-secondary" do %>
          <i class="bi-x-circle"></i> Cancel
        <% end %>
        <%= link_to success_venue_path(@venue), class: "btn btn-primary" do %>
          <i class="bi-check-lg"></i> Check in
        <% end %>
      </div>
  <% else %>
    <p>Venue not found... <br>Why don't you open a DropWorks venue yourself? 😇</p>
  <% end %>
</div>
