<div class="confirm">
  <% if @venue.present? %>
      <h3>Do you want to check-in to</h3>
      <h1><%= @venue.name %>?</h1>
      <br>
      <%= @venue.address %>
      <br>
      <div class="confirm-button">
        <br>
      <%= link_to "Come back", venues_path(@venues)%>
      <%= link_to "Confirm Booking", success_venue_path(@venue)%>
      </div>
  <% else %>
    <p>Venue not found</p>
  <% end %>
</div>
