// main container
.booking-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.hero-image-mobile {
  width: 100%;
  height: 217px;
  flex-shrink: 0;
  object-fit: cover;
}

// Title
.title-bf {
  // sub-container
  // display: flex;
  // padding: 0px 16px;
  // flex-direction: column;
  // align-items: flex-start;
  // justify-content: flex-start;
  // gap: 5px;

  h1 {
    color: var(--Black, #000);
    font-feature-settings: 'clig' off, 'liga' off;
    // font-family: SF Pro Display;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: -0.4px;
    align-self: stretch;
    margin: 0px;
  }
}

  h2 {
    color: var(--Black, #000);
    font-feature-settings: 'clig' off, 'liga' off;
    // font-family: SF Pro Display;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 154.545% */
    letter-spacing: -0.4px;
    align-self: stretch;
    margin: 0px;
  }


// Date and Time
.second-text-bf {
  display: flex;
  width: 390px;
  padding: 0px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;

  h3 {
    color: var(--Dark-Grey, #48484A);
    font-feature-settings: 'clig' off, 'liga' off;
    // font-family: SF Pro Display;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 129.412% */
    letter-spacing: -0.4px;
    margin: 0px;
  }

  p {
    color: var(--Dark-Grey, #48484A);
    font-feature-settings: 'clig' off, 'liga' off;
    // font-family: SF Pro Display;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 169.231% */
  }

}


.input-bf {
  justify-content: center;
  align-items: center;
  background-color: white !important;
  border-radius: 6px !important;
  border: none !important;
  box-shadow: 0px 1px 4px 0px rgba(153, 153, 153, 0.25) !important;
}

.form-control:disabled, .form-control[readonly] {
  background-color: white !important;
  height: 42px;
}
