.navbar-icons {
  background: white;
  top: 768px !important;
  z-index: 9999;
}
.navbar {
  height: 83px;
  align-items: flex-start;
  padding-top: 7px;
}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
