
.simple-form-sb {
  margin: 0 auto;
  width: auto;
  height: 42px;
  flex-shrink: 0;
  align-self: stretch;
}

.search-bar-wrapper {
  position: sticky;
  top: 10px;
  z-index: 2;
  display: flex;
  align-items: center;
  width: auto;
}

.form-inputs-sb {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100%;
}

.custom-input-class-sb {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border-radius: 7px;
  background: white;
  border: #FFF;
  box-shadow: 0px 1px 4px 0px rgba(153, 153, 153, 0.25) !important;
}

::placeholder {
  color: #999999 !important;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: $body-font;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.4px;
}
