// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


// body {
//   background-color: white;
// }

@font-face {
  font-family: "SF-Pro-Display-Regular";
  src: url("/app/assets/fonts/SF-Pro-Display-Regular.otf");
}

body {
  font-family: "SF Pro Display";
  overflow-x: hidden;
}

