<div style="height: 100vh; background: white">
<%= image_tag @venue.image_urls.first, height: "250px", width: "390px" %>
  <div style="padding: 16px">
    <h1>Write a review for<br>
    <strong><%= @venue.name %></h1></strong>
    <%= render "shared/form_review", booking: @booking, review: @review %>
  </div>
</div>
