<div class="container" style="width: 90%">
<h1><strong>Write a review for</strong><br>

 <strong><%= @venue.name %></h1></strong>

  <%= render "shared/form_review", booking: @booking, review: @review %>
</div>
